﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende acerca de Web Apps y Logic Apps en Azure con GitLab e Integración Continua</a>.</p>
</div>
